{{ define "main" }}
<section id="main" class="mb-5">
  <h1 id="title">{{ .Title }}</h1>
  <div id="faq">
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta" class="mb-5">
  <div>
  <section>
    <p id="date">Last Update: {{ .Lastmod.Format "January 2, 2006" }}</p>
  </section>
  {{ with .Params.topics }}
  <ul id="topics">
    {{ range . }}
      <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
  </ul>
  {{ end }}
  </div>
</aside>

{{ end }}