<!-- Custom head -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#005a9c">
<meta name="apple-mobile-web-app-title" content="passkeys.dev">
<meta name="application-name" content="passkeys.dev">
<meta name="msapplication-TileColor" content="#005a9c">
<meta name="theme-color" content="#005a9c">