
/* Increase space between ToC items: #442 */
.toc-item{
  margin-bottom: 0.5rem;
}

.navbar-nav .nav-link.active {
  font-weight: 500;
}

.navbar-nav .nav-link:hover {
    border-bottom-color: #0056b3;
  background-color: #f0f0f0;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .navbar-nav .nav-link:hover {
      border-bottom-color: #66b2ff;
      background-color: #333333;
    }
  }
}

p a,li a {
  text-decoration: none;
  border-bottom: 2px solid transparent; /* Reserve space to prevent jumping */
  transition: border-color 0.3s;
  font-weight: 500;
}
p a:hover,li a:hover {
  border-bottom-color: #0056b3;
  background-color: #f0f0f0;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    p a:hover,li a:hover {
      border-bottom-color: #66b2ff;
      background-color: #333333;
    }
  }
}

.toc a {
  text-decoration: none;
  border-bottom: 2px solid transparent; /* Reserve space to prevent jumping */
  transition: border-color 0.3s;
  font-weight: 500;
}
.toc a:hover {
  border-bottom-color: #0056b3;
  background-color: #f0f0f0;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .toc a:hover {
      border-bottom-color: #66b2ff;
      background-color: #333333;
    }
  }
}

.fade-out-text {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Adjust gradient direction and colors as needed */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@if $enable-dark-mode {
  @include color-mode(dark) {
    .fade-out-text {
      background-image: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Adjust gradient direction and colors as needed */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
  }
}
