{{ define "main" }}
<section id="main">
  <h1 id="title">{{ .Title }}</h1>
  <div>
        <article id="content">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
  <div>
  <section>
    <p id="date" class="text-muted fs-6"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-edit-circle" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 15l8.385 -8.415a2.1 2.1 0 0 0 -2.97 -2.97l-8.415 8.385v3h3z" /><path d="M16 5l3 3" /><path d="M9 7.07a7 7 0 0 0 1 13.93a7 7 0 0 0 6.929 -6" /></svg> Last Updated: {{ .Lastmod.Format "Jan 02, 2006" }}</p>
  </section>
  {{ with .Params.topics }}
  <ul id="topics">
    {{ range . }}
      <li><a href="{{ "topics" | absURL}}{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
  </ul>
  {{ end }}
  </div>
</aside>

{{ end }}