<div class="container px-4 text-center mt-4 mb-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <strong>Local Authenticator</strong>
                <p class="text-muted fs-6">(create and use passkeys from the local device)</p>
                <span class="badge rounded-pill text-bg-secondary fs-6 fw-semibold"><svg
                    xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-clock"
                    width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
                    <path d="M16 3v4" />
                    <path d="M8 3v4" />
                    <path d="M4 11h10" />
                    <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                    <path d="M18 16.5v1.5l.5 .5" />
                </svg> Planned</span>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <strong>External Authenticator</strong>
                <p class="text-muted fs-6">(create and use passkeys from another device)</p>
                <span class="badge rounded-pill text-bg-warning fs-6 fw-semibold"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-circle-half-2" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
                    <path d="M12 3v18" />
                    <path d="M12 14l7 -7" />
                    <path d="M12 19l8.5 -8.5" />
                    <path d="M12 9l4.5 -4.5" />
                  </svg> Partially Supported</span>
            </div>
        </div>
    </div>
</div>