<div class="container px-4 text-center mt-4 mb-4">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3 border bg-light">
                <strong>Local Authenticator</strong>
                <p class="text-muted fs-6">(create and use passkeys from the local device)</p>
                <span class="badge rounded-pill bg-color-green fs-6 fw-semibold"><i
                        class="bi bi-check-circle-fill pe-1"></i> Supported</span>
            </div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">
                <strong>External Authenticator</strong>
                <p class="text-muted fs-6">(create and use passkeys from another device)</p>
                <span class="badge rounded-pill text-bg-secondary fs-6 fw-semibold"><i class="bi bi-calendar-plus pe-1"
                        title="Planned" alt="calendar icon"></i> Planned</span>
            </div>
        </div>
    </div>
</div>