<svg xmlns="http://www.w3.org/2000/svg" title="calendar icon with clock" aria-label="calendar icon with clock" role="img" class="icon icon-tabler icon-tabler-calendar-clock" width="{{ if .Get "size"}}{{ .Get "size" }}{{ else }}24{{ end }}" height="{{ if .Get "size" }}{{ .Get "size" }}{{ else }}24{{ end }}"
    viewBox="0 0 24 24" stroke-width="1.5" stroke="{{ if .Get "stroke" }}{{ .Get "stroke" }}{{ else }}currentColor{{ end }}" fill="none" stroke-linecap="round"
    stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="{{ if .Get "fill" }}{{ .Get "fill" }}{{ else }}none{{ end }}" />
    <path d="M10.5 21h-4.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v3" />
    <path d="M16 3v4" />
    <path d="M8 3v4" />
    <path d="M4 11h10" />
    <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
    <path d="M18 16.5v1.5l.5 .5" />
</svg>