<svg xmlns="http://www.w3.org/2000/svg" title="circle with check mark" aria-label="circle with check mark" role="img" class="icon icon-tabler icon-tabler-inline icon-tabler-circle-check"
    width="{{ if .Get "size" }}{{ .Get "size" }}{{ else }}24{{ end }}" height="{{ if .Get "size" }}{{ .Get "size" }}{{ else }}24{{ end }}" viewBox="0 0 24 24" stroke-width="1.5" stroke="{{ if .Get "stroke" }}{{ .Get "stroke" }}{{ else }}currentColor{{ end }}" fill="none" stroke-linecap="round"
    stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" />
    <path d="M9 12l2 2l4 -4" />
</svg>