/** Custom styles */

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

::selection {
  background-color: RGB(0 90 156 / 20%);
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
}

a {
  color: #004b4e;
}

.strong {
  font-weight: 500;
}

.header-bar {
  border-top: 10px solid;
  border-image-source: linear-gradient(90deg, #d39a1e, #004b4e);
  border-image-slice: 1;
}

[data-bs-theme="dark"] .header-bar {
  border-top: 10px solid;
  border-image-source: linear-gradient(90deg, #d39a1e, #004b4e);
  border-image-slice: 1;
}

/*
button tweaks
*/

body .btn-black {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

body .btn-black:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

[data-bs-theme="dark"] body .btn-black {
  color: #000 !important;
  background-color: #fff;
  border-color: #fff;
}

[data-bs-theme="dark"] body .btn-black:hover {
  color: #fff !important;
  background-color: #000;
  border-color: #fff;
}



/*
change bw icons to white in dark mode
*/

.svg-icon-bw g {
  fill: #000;
}

[data-bs-theme="dark"] .svg-icon-bw g {
  fill: #fff;
}

/*
code snippet tweaks (pre and code)
*/

code {
  background: #f0f0f0;
}

pre > .btn-copy {
  background-color: #d39a1e;
  border-color: #004b4e;
}

pre > .btn-copy:hover {
  background-color: #004b4e;
  border-color: #d39a1e;
}

pre > .hljs {
  background: #f0f0f0;
}

.hljs-string {
  color: #0950a4;
}

summary {
  font-weight: 500;
}

blockquote {
  font-size: 1rem;
}

/*
COLORS
*/
.color-twitter-blue {
  color: #1da1f2;
}

.color-black {
  color: #000;
}

.color-green {
  color: #198754;
}

.color-red {
  color: #dc3545
}

.color-fido-yellow {
  color: #d39a1e
}

.color-fido-green {
  color: #004b4e
}

.bg-color-green {
  background-color: #198754;
}


/*
SPECIFIC PAGE OVERRIDES
*/

/*
HEADER MENU
*/

.offcanvas .nav-link.active {
  color: #004b4e;
  font-weight: 700;
}

[data-bs-theme="dark"] .offcanvas .nav-link.active {
  color: #d39a1e;
  font-weight: 700;
}

.offcanvas .nav-link:hover {
  color: #d39a1e;
}

[data-bs-theme="dark"] .offcanvas .nav-link:hover {
  color: #d39a1e;
}

/*
SIDEBAR MENU
*/

.btn-toggle-nav a.active {
  color: #004b4e;
}

[data-bs-theme="dark"] .btn-toggle-nav a.active {
  color: #d39a1e;
}

.btn-toggle-nav a:hover {
  color: #d39a1e;
}

[data-bs-theme="dark"] .btn-toggle-nav a:hover {
  color: #d39a1e;
}

/*
Specific to FAQ content
*/
#faq #content > details {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

#faq #content > details > summary {
  font-weight: 600;
  font-size: 1.1em;
}

.embed-responsive-item {
  aspect-ratio: 16/9;
  width: 100%;
  max-width: 536px;
}

/*
Specific to device support page
*/
#device-support-table table {
  --#{$prefix}table-bg: #{$light};
}

[data-bs-theme="dark"] {
  #device-support-table table {
    --#{$prefix}table-bg: #{$dark};
  }
}

#device-support-table th:first-child,
td:first-child {
  position: sticky;
  left: 0;
  z-index: 1;
}

/*
YouTube preview image on homepage
*/
.youtube-preview {
  img {
    width: 90%;
    max-width: 536px;
    height: auto;
  }
}


/** FONTS **/

/** Google Fonts **/

/* open-sans-300 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/open-sans-v29-latin-300.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-300.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-300.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-300.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-300.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-300.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-regular - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/open-sans-v29-latin-regular.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-regular.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-regular.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-regular.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-regular.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-500 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/open-sans-v29-latin-500.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-500.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-500.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-500.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-500.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-500.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-600 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/open-sans-v29-latin-600.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-600.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-600.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-600.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-600.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-600.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-700 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/open-sans-v29-latin-700.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-700.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-700.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-700.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-700.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-700.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-800 - latin */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/open-sans-v29-latin-800.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-800.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-800.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-800.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-800.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-800.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-300italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: url("/fonts/open-sans-v29-latin-300italic.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-300italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-300italic.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-300italic.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-300italic.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-300italic.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/open-sans-v29-latin-italic.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-italic.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-italic.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-italic.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-italic.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-500italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/open-sans-v29-latin-500italic.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-500italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-500italic.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-500italic.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-500italic.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-500italic.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-600italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/open-sans-v29-latin-600italic.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-600italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-600italic.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-600italic.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-600italic.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-600italic.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-700italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/open-sans-v29-latin-700italic.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-700italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-700italic.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-700italic.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-700italic.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-700italic.svg#OpenSans") format("svg");
  font-display: swap;
}

/* open-sans-800italic - latin */
@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/open-sans-v29-latin-800italic.eot");
  src: local(""),
    url("/fonts/open-sans-v29-latin-800italic.eot?#iefix") format("embedded-opentype"),
    url("/fonts/open-sans-v29-latin-800italic.woff2") format("woff2"),
    url("/fonts/open-sans-v29-latin-800italic.woff") format("woff"),
    url("/fonts/open-sans-v29-latin-800italic.ttf") format("truetype"),
    url("/fonts/open-sans-v29-latin-800italic.svg#OpenSans") format("svg");
  font-display: swap;
}
